---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import "aos/dist/aos.css"; // You can also use <link> for styles
// import 'animate.css';
---

<div class="p-4 text-center text-gray-800">
	<h1 class="mb-4 text-4xl font-bold">LOGO</h1>
	<nav class="text-2xl">
		<span class="px-4">WEB</span>
		<span class="px-4">SOCIAL MEDIA</span>
		<span class="px-4">MARKETING</span>
	</nav>
</div>

<div class="w-full p-12">
	<div class="grid grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3">
		<div
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80 hover:rotate-[360deg] hover:scale-150 duration-1000 transition-all scroll-smooth"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="flip-left"
			data-aos-easing="ease-in-back"
			data-aos-delay="300"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="flip-left"
			data-aos-easing="ease-in-back"
			data-aos-delay="600"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="900"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="1200"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="1500"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="0"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="300"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="600"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="0"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="300"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="600"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="0"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="300"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="600"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="0"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="300"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>

		<div
			data-aos="zoom-in"
			data-aos-easing="ease-in-back"
			data-aos-delay="600"
			class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80"
		>
			<a href="#" class="block w-full h-full">
				<img
					alt="blog photo"
					src="https://via.placeholder.com/300"
					class="object-cover w-full max-h-40"
				/>
				<div class="w-full p-4 bg-white dark:bg-gray-800">
					<p class="font-medium text-indigo-500 text-md">Lorem</p>
					<p class="mb-2 text-xl font-medium text-gray-800 dark:text-white">
						LOREM IPSUM
					</p>
					<p class="font-light text-gray-400 dark:text-gray-300 text-md">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
						tellus ex, dictum facilisis eros at, luctus ultrices enim. Donec
						pharetra, augue vitae commodo egestas, nibh dui posuere lorem, a
						ornare purus ipsum sed ex.
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
